resources/external/
notinuse
figures/creating_figures_2nddraft.pptx
figures/creating_figures_3rddraft.pptx
figures/creating_figures_4thdraft.pptx
figures/Map-AnnaSZ.ai
figures/Map-AnnaSZ.pdf
figures/Map-AnnaSZ.png
figures/compilation*
figures/matchups*
figures/monthly*
figures/uncertainty*
figures/uvp*
code/calculateBcpMetricsFromUvpAnnual.m
code/calculateBcpMetricsFromTrapAndRadionuclideAnnual.m
code/processBcpMetricsAnnual.m
code/propagateErrorWithMCforMartinbAndZstarAnnual.m
code/propagateErrorWithMCforPEeffAndTeffAnnual.m
data/interim/dataset_s0_contributing_data
data/processed/bcpmetrics_compilation_annual.mat
data/processed/bcpmetrics_uvp_annual.mat
data/raw/woa18_global.mat
data/raw/sst_global.mat
data/raw/par0_seawifs_global.mat
data/raw/chla_seawifs_global.mat
data/raw/dataset_s0_trap_and_radionuclide_compilation.xlsx
README_cover.png
.DS_Store
